/* .infoProfe{
    display: flex;
    padding: 1rem;
}
.code{
    margin-right: 1rem;
}
.name{
    margin-right: 1rem;
}
.last-n{
    margin-right: 1rem;
}
.cinta{
    margin-right: 1rem;
} */
.tabla{
    border-collapse: collapse;
}
td{
    border: 1px solid #d11111;
}
th{
    background: #444;
    color: #ffffff;
    border: #444;
    font-size: 20px;
}
td, th{
    text-align:  center;
    padding: 0.5em;
}
.name{
    border-right: none; 
}
.last-n{
    border-left: none;
}
.button{
    border: none;
    width: 20%;
    color: white;
    font-size: 20px;
    background:  #444;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 40px;
}