
/******************ESTILOS SECCIONES NOTICIAS*******************/
main{
	margin-top: 30px;
}
#principal{
	width: 80%;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin: 10px auto;
}
#publicaciones{
	width: 70%;
	height: auto; overflow: hidden;
	border: 0px solid red;
	margin-top: 10px;
	float: left;
}
.post{
	width: 96%;
	height: auto; overflow: hidden;
	padding: 7px;
	background: #fdfdfd;
	border-left-style: solid;
	border-left-width: 5px;
	border-left-color: #940811;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #ccc; 
	margin-bottom: 20px;
}
#publicaciones a .titulo-post{
	color: #6e6e6e;
	font-size: 22px;
}
#publicaciones a .titulo-post:hover{
	text-decoration: underline;
}

#publicaciones .img-post{
	width: 150px;
	height: 100px;
	float: left;
	margin: 7px 7px 7px 0px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
#publicaciones .perfil{
	width: 200px;
	height: 150px;
	float: left;
	margin: 7px 7px 7px 0px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#publicaciones .datos-publicaciones{
	font-family: 'calibri light';
	color: blue;
}
#publicaciones .texto-post{
	font-size: 16px;
	color: #000;
	padding: 5px;
	text-align: justify;
}

/*++++++++++++++++++++++++++BARRA LATERAL SIDEBAR+++++++++++++++++++++++++++++++++++++*/
#sidebar{
	float: right;
	width: 29%;
	border: 0px solid;
	height: auto; 
	overflow: hidden;
	margin-top: 10px;
}

#buscar, #categorias, #sitios-amigos, #ultimos-post{
	border-radius: 10px;
	width: 98%;
	border: 1px solid #ccc;
	height: auto; overflow: hidden;
	margin-bottom: 20px;
	background: #fff; 

}
/*
#buscar input[type="text"]{
	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px #ccc inset;
	padding: 10px 4px;
	border-radius: 10px;
	width: 93%;
	margin-left: 4px;
	margin-bottom: 4px;
}

#buscar .boton{
	border-radius: 10px;
	padding: 5px 4px;
	margin-left: 5px;
	border: 0px;
	color: #000;
	background: #BFC9CA;
	box-shadow: 0px 5px 5px #ccc;
	margin-bottom: 10px;
}

#buscar .logo-google{
	width: 115px;
	height: 35px;
	margin-top: 0px;
}*/

.encabezado-sidebar{
	width: 100%;
	height: 35px;
	background: #940811;
	text-align: center;
	color: #fff;
	font-size: 20px;
	border-radius: 8px;
	margin-top: 2px;
}

.enlace-sidebar{
	width: 100%;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	padding: 10px 5px;
	color: #2E4053;
}

.enlace-sidebar:hover{
	background: #BFC9CA;
}
.button{
    /* width: 180px;
    padding: .7em;
    outline: 0;
    color:rgb(255, 255, 255) !important;
	border-bottom: none !important;
	background: #000 !important;
    border: 0;
    text-transform: uppercase;
	padding: 1em;
	border-radius: 5px;
	cursor: pointer;
	font-family: Helvetica !important; */
	border-radius: 5px !important;
	padding: 5px 4px !important;
	margin-left: 5px !important;
	border: 0px !important;
	color: rgb(248, 248, 248) !important;
	background:  #940811 !important;
	box-shadow: 0px 5px 5px #ccc !important;
	margin-bottom: 10px !important;
	font-size: 15pt !important;
	margin-top: 10px;
}
.operaciones{
	float: right;
}
.inscripcion{
	border-radius: 5px;
	padding: 5px 4px;
	margin-left: 5px;
	margin-right: 5px;
	border: 0px;
	color: rgb(248, 248, 248);
	background:  #940811;
	box-shadow: 0px 5px 5px rgb(0, 0, 0);
	margin-bottom: 10px;
	font-size: 13pt;
	margin-top: 10px;
	width: 20%;
}
.btni{
	text-align: right;
}