/* by Jamal Hassouni*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body{
  position:static !important;
  margin-top: 6rem !important;
  font-family: 'Roboto', sans-serif !important;
}
section{
  position:static;
  width: 100% !important;
  height: 100vh;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
          padding: 140px 0 !important;
}
.card{
  max-width: 340px !important;
  height: auto !important;
  background: linear-gradient(-5deg, #000000, #940811);
  border-radius: 15px !important; 
  margin: 0 auto !important;
  padding: 40px 20px !important;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}

/* }
.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa{
  background: linear-gradient(-45deg,#000000, #940811);
}

} */
.card::before{
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
z-index: 1;
-webkit-transform: skewY(-5deg) scale(1.5);
        transform: skewY(-5deg) scale(1.5);
}
.title .fa{
  color:#fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius:  50%;
  line-height: 100px;
  -webkit-box-shadow: 0 3px 15px rgba(0,0,0) ;
          box-shadow: 0 3px 15px rgba(0,0,0);

}
.title h2 {
  margin: 20px  0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}

.option ul {
  margin: 0;
  padding: 0;
}

.option ul li {
margin: 0 0 10px;
padding: 0;
list-style: none;
color: #fff;
font-size: 16px;
}
.update{
  border-radius: 5px;
	padding: 5px 4px;
	margin-left: 5px;
	border: 0px;
	color: rgb(248, 248, 248);
	background:  #940811;
	box-shadow: 0px 5px 5px rgb(0, 0, 0);
	margin-bottom: 10px;
	font-size: 13pt;
  margin-top: 10px;
  width: 45%;
}
.boton{
  text-align: right;
}

.container .card .row .col-sm-4 .option{
  /* display: inline-block; */
  justify-content: center !important;
  margin: auto;
}
.col-sm-4{
  width: auto;
}