/* by Jamal Hassouni*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body{
  position:static;
  margin-top: 6rem;
  font-family: 'Roboto', sans-serif !important;
}
section{
  position:static;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 140px 0;
}
.card{
  max-width: 300px;
  height: auto;
  background: linear-gradient(-5deg, #000000, #940811);
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
          box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
-webkit-transition: .5s;
transition: .5s;
}

}
.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa{
  background: linear-gradient(-45deg,#000000, #940811);
}

}
.card::before{
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
z-index: 1;
-webkit-transform: skewY(-5deg) scale(1.5);
        transform: skewY(-5deg) scale(1.5);
}
.title .fa{
  color:#fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius:  50%;
  line-height: 100px;
  -webkit-box-shadow: 0 3px 15px rgba(0,0,0) ;
          box-shadow: 0 3px 15px rgba(0,0,0);

}
.title h2 {
  margin: 20px  0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}

.option ul {
  margin: 0;
  padding: 0;
}

.option ul li {
margin: 0 0 10px;
padding: 0;
list-style: none;
color: #fff;
font-size: 16px;
}
